<div class="w3-row w3-margin">

<div class="w3-third w3-border">
<form>
<input type="date" class="data"   name="dat" [(ngModel)]="ladata">
<input type="time" class="orario" name="ora" [(ngModel)]="lora">
<input type="submit" class="w3-btn w3-small w3-round-large w3-aqua" value="INP" (click)="memo()">
</form>
</div>

<div class="w3-twothird" >

  <span *ngFor="let datatim of datatimb">
    <div class="w3-quarter w3-border">
      {{ datatim | date:'fullDate':'':'it' }}
    </div>
    <div class="w3-half w3-border">
  <span *ngFor="let ore of timbrate[datatim]; let i = index" (dblclick)="cancella(datatim, i)">
    {{ ore }}
    <span *ngIf="i % 2"> ----> {{ saldopar(datatim, i) | mintomh }}<br /></span>
  </span>
  </div>
  <div class="w3-rest w3-border w3-center">{{ saldotot[datatim] }}</div>
  </span>

</div><!-- end w3-half -->

</div><!-- end w3-row -->


