<div class="w3-row w3-margin">
<div class="w3-col w3-border w3-center">
<form>
<select name="gius" [(ngModel)]="giustif" (ngModelChange)="giustificativo()">
<option [value]="nogius">nessun giustificativo</option>
<option *ngFor="let opt of saldozero" [value]="opt">{{ opt }}</option>
</select>
<input type="date" class="data"   name="dat" [(ngModel)]="ladata">
<input type="time" class="orario" name="ora" [(ngModel)]="lora">
<input type="submit" class="w3-btn w3-small w3-round-large w3-aqua" value="INP" (click)="memo()">
</form>
</div>
</div>

<div class="w3-row">

<table class="w3-table-all">
  <tr>
    <th>Data</th>
    <th>Timb.originali</th>
    <th>tot.giorno</th>
    <th>teoriche</th>
    <th>saldo gio.</th>
  </tr>    
  <tr *ngFor="let datatim of datatimb">
    <td>
      {{ datatim | date:'EEE dd/LL/yy':'':'it' }}
    </td>

    <td>
      <span *ngFor="let ore of timbrate[datatim]; let i = index" (click)="timbcanc(datatim, ore, $event)">
	      {{ ore }}
        <span *ngIf="i % 2"> --> {{ saldopar(datatim, i) | mintomh }}<br /></span>
    </span>
    </td>

    <td>{{ saldotot(datatim) | mintomh }}</td>
    <td>{{ visuteo(datatim)  | mintomh }}</td> 
    <td>{{ saldogio(datatim) | mintomh }}</td>

  </tr>

</table>

</div><!-- end w3-row -->


